.todo {
  &__item {
    width: 100%;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    input[type="checkbox"] {
      margin: .4rem .4rem 0;
    }

    label {
      font-size: 1.15rem;
      max-width: 93%;
    }
    &:hover {
      .todo__rm {
        display: block;
        cursor: pointer;
      }
    }
  }

  &__rm {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      border-radius: 30px;
      background-color: darkred;
    }
    &::before {
      transform: translateY(12px) rotate(45deg);
    }
    &::after {
      transform: translateY(12px) rotate(-45deg);
    }
  }
}
