// Colors
:root {
  --bg: #333;
  --fg: #fff;
  --sec-bg: #efefef;
  .light-theme {
    --fg: #333;
    --bg: #fff;
    --sec-bg: #2e2e2e;
  }
}

// Minimal Reset
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

// Container
.container {
  background-color: var(--sec-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // App styles
  .App {
    font-size: 1rem;
    font-family: 'Rubik';
    font-weight: 400;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    border-radius: 1rem;
    background-color: var(--bg);
    color: var(--fg);
  }
}
