.todo {
  &__input {
    width: 100%;
    border-radius: 4px;
    padding: .5rem;
    font-family: 'Rubik', sans-serif;
    margin-top: 1rem;
    color: var(--bg);
    background-color: var(--fg);
    border: none;
    outline: none;
  }
  &__submit {
    width: 100%;
    margin-top: .5rem;
    padding: .4rem;
    font-family: 'Rubik', sans-serif;
    background-color: var(--fg);
    color: var(--bg);
    border: none;
    border-radius: 2px;
  }
}
